
.kuma-icon{
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: relative;
}
.kuma-icon-triangle-up{
    border-bottom: 6px solid #a79e9e;
    top: -16px;
    left: 4px;
}
.kuma-icon-triangle-down{
    border-top: 6px solid #a79e9e;
    bottom: -17px;
    left: -6px;
 }
.productList .container>table {
    margin: 0 50px;
    display: block;
    text-align: center;
    border: 1px solid #cccccc;
}

.productList .container .count-num {
    margin: 0 50px 10px 50px;
}

.productList .container .count-num>div {
    float: right;
}

.productList .container .count-num span {
    color: #ff4c4c;
}


.productList .container .count-num .inputLabel {
    font-size: 14px;
}

.productList .container table thead {
    display: block;
    width: 100%;
}

.productList .container table tr {
    display: block;
    border-bottom: 1px solid #cccccc;
    height: 50px;
    line-height: 50px;
}

.productList .container table thead th {
    text-align: center;
    width: 33.33333%;
    float: left;
    background: #499df2;
    color: #ffffff;
}

.productList .container table thead th:nth-child(2) {
    border-left: 1px solid #cccccc;
}

.productList .container table thead th:nth-child(3) {
    border-left: 1px solid #cccccc;
}

.productList .container table #list {
    background: #ffffff;
    display: block;
}

.productList .container table #list tr td {
    text-align: center;
    width: 33.33333%;
    float: left;
}

.productList .container table #list tr td:nth-child(2) {
    border-left: 1px solid #cccccc;
}

.productList .container table #list tr td:nth-child(3) {
    border-left: 1px solid #cccccc;
}

.inputCount {
    width: 205px;
    background: #ffffff;
    color: #ff4c4c;
    padding-left: 5px;
}

.clearfix {
    display: block;
    clear: both;
    content: '';
    zoom: 1;
}